/* Custom Property */
@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Regular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Bold.ttf);
    font-weight: 500;
}
:root{
    /* color */
    --theme-color: #000000;
    --visible-color: #F5F5F5;
    --blue-color: #0095F6;
    --red-color: #FF3040;
    --grey-color: #A8A8A8;
    --icons-background: #262626;
    --insta-story-gradient: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF);
    --insta-app-gradient: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);
    --border-color: #363636;
    --hr-big-line: #353535;

    /* font-size */
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-14: 14px;

    /* font-weight */
    --fw-light: 200;
    --fw-regular: 300;
    --fw-medium: 400;
    --fw-bold: 500;
}

/* Resets */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{
    display: none;
}
html{
    color: var(--visible-color);
    background: var(--theme-color);
}

/* SVG fill & stroke ------ */
svg{
    cursor: pointer;
}
svg[class="fill"] {
    fill: var(--visible-color);
}
svg[class="stroke"] {
    stroke: var(--visible-color);
}
/* create */
svg path[class="stroke"],
svg path ~ line[class="stroke"] {
    stroke: var(--visible-color);
}
/* reels */
svg[class="fill stroke"] {
    fill: var(--visible-color);
    stroke: var(--visible-color);
}
/* close */
svg polyline[class="stroke"],
svg polyline ~ line[class="stroke"] {
    stroke: var(--visible-color);
}

/* Bottom-bar Start Here ------------------------------- */
.bottom-bar{
    background: var(--theme-color);
    border-top: 0.5px solid var(--visible-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 16px;
    z-index: 100;
    
    & .bottom-tabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & label{
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        & label.profile img{
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }

        & label svg:last-child:not(.create){
            display: none;
        }
    }
}
#home:checked ~ .bottom-bar .bottom-tabs .home svg:first-child,
#explore:checked ~ .bottom-bar .bottom-tabs .explore svg:first-child,
#reels:checked ~ .bottom-bar .bottom-tabs .reels svg:first-child
{
    display: none;
}
#home:checked ~ .bottom-bar .bottom-tabs .home svg:last-child,
#explore:checked ~ .bottom-bar .bottom-tabs .explore svg:last-child,
#reels:checked ~ .bottom-bar .bottom-tabs .reels svg:last-child
{
    display: block;
}
#profile:checked ~ .bottom-bar .bottom-tabs .profile img{
    outline: 2px solid var(--visible-color);
} 
.content{
    display: none;
}
#home:checked ~ .home,
#explore:checked ~ .explore,
/* #create:checked ~ .create, */
#reels:checked ~ .reels,
#profile:checked ~ .profile
{
    display: block;
}
/* Bottom-bar End Here --------------------------------- */

/* Reused Style */
input[type="radio"],
input[type="checkbox"]
{
    display: none;
}
a{
    text-decoration-line: none;
}
p{
    color: var(--visible-color);
    font-size: var(--fs-14);
    font-weight: var(--fw-medium);
}